html{
    min-height: 100%;
}
body{
  margin:  0;
 background-color:#bbcbca;
  width:auto;
  background-repeat: no-repeat;
  height:100%;
}

/*CSS de Menu.php*/
#cabecera{
  width: 100%;

}
.redes{
    width: 50%;
    height: 60px;
    float: right;
  }

.redes span{
    float: right;
    margin-top: 15px;
    margin-right: 10px;
  }

.redes img{
  padding: 5px;
  width: 25px;
  height: auto;
}

.Contacto{
  display: inline-block;
}
.Contacto img{
width: 19px;
height: auto;
margin-top: 3px;
margin-right: 3px;
}

.Contacto ul{
  list-style: none;
  margin-top: 0;
  padding: 0;
}
.Contacto ul li{
  float:left;
  margin-top: 0;
  color: #666666;
}
.Contacto ul li span{
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  margin-right: 25px;
}

.logo {
width: 180px;
height: 120px;
float: left;
}
.logo img{
  margin-top: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
}

#menu-cabecera{
float: right;
height: 60px;
margin-bottom: 15px;
}
#menu-cabecera ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu-cabecera ul li{
  float: right;
  margin-right: 10px;
  padding: 5px;
}

#menu-cabecera ul li a {
  display:block;
  width:100px;
	padding:10px 0;
	text-decoration:none;
	text-align:center;
	font-size:1.1em;
  font-family: 'Titillium Web', sans-serif;
  font-weight:600;
	color:#212121;
}
#menu-cabecera ul li a:hover {
  background: #01579B;
  color: white;
}
/*---------------------------------------*/
/*Css del cuerpo de Index.php*/
.Cuerpo{/*Cuerpo de los diferentes archivos .php*/
  width: 93%;
  height: auto;
  background-color: white;
  margin: 0 auto;
 border-radius: 10px;
}

#portada{
  clear: both;
  margin-top: 20px;
  width: 100%;
  height:505px;
  overflow: hidden;
  margin: auto;
  /*background: #bbcbca;*/
  background-image: url(../imagenes/contaduria-puerto-vallarta.jpg);
}
#portada ul{
  display: flex;
  width: 200%;
  padding: 0;
  height: auto;
  animation: portadas 10s infinite alternate linear;
}

#portada li{
  width: 100%;
  list-style: none;
}
@keyframes portadas {
0%{margin-left: 0%;}
50%{margin-left: 0%;}
55%{margin-left: -100%;}
100%{margin-left: -100%;}
}
.texto-portada{
  width: 100%;
  height: auto;
  margin: 0 0 0 40px;
  position:relative;
}
.texto-portada h2{
  font-family: 'Kite One', sans-serif;
  text-align: left;
  padding-top: 50px;
  font-size: 30px;
  text-shadow: 5px 5px 5px #999999;
  color:#072540;
}
.texto-portada p{
  font-family: 'Kite One', sans-serif;
  text-align: justify;
  font-size: 30px;
  color:black;
  width:50%;
  text-shadow: 5px 5px 5px #999999;
  color: #072540;
}

#contenido{
  margin-top: 50px;
  margin-bottom: 30px;
  height: auto;
  width: 100%;
  display: inline-block;
}

.Texto{
  width: 90%;
  margin: 0 auto;
}
.Valores{
width:70%;
height:auto;
padding-bottom: 25px;
margin-top: 50px;
display: inline-block;
}
.Valores h2{
  font-family: 'Titillium Web', sans-serif;
  margin-top: 2px;
  text-align: left;
  color: #0f0147;
}
.Valores h4{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-top: 2px;
  text-align: left;
  font-size: 22px;
  color: #1E4147;
}
.imagen-valores{
width: 25%;
height: 200px;
margin-top: 50px;
float: right;
}
.imagen-valores img{
  width: 100%;
  height: 100%;
}
.valor{
  width: 283px;
  height: auto;
  float: left;
  background: #e5e1f9;
  margin-top: 50px;
}
.valor h3{
  text-align: left;
  margin-left: 10px;
  font-family: 'Kite One', sans-serif;
  font-weight: bold;
  color: #0f0147;
}
.valor p{
  font-family: 'Kite One', sans-serif;
  font-size: 21px;
  text-align: left;
  margin-left: 5px;
  color: #202020;
  padding: 15px;
}
/*-----------------------------------------*/
/*Css del titulo de cada pagina*/
.Ubicacion{
  width: 100%;
  margin: 0 auto;
  background: #bbcbca;
  clear: both;
  padding-top: 10px;
  padding-bottom: 20px;
}

.Ubicacion h1{
  font-family: 'Kite One', sans-serif;
  font-size: 38px;
  text-align: center;
  color: #020E17;
  border-bottom: 3px solid;
  border-color: #01579B;
}
.Texto_ubicacion p{
  width: 80%;
  margin: 0 auto;
  text-align:justify;
  padding:20px 30px 0 30px;
  padding-left: 10px;
  font-family:'Titillium Web', sans-serif;
  font-size: 30px;
  font-style: italic;
  color: #050c42;
}
/*CSS del cuerpo Servicios.php*/
.servicios{
  clear: both;
  width:95%;
  box-sizing: content-box;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 20px;
}
.servicio{
width: 380px;
height: 380px;
float: left;
margin: 10px 0 20px 12px;
}
.servicio:hover .icono-servicio{
  background: #0585f2;
}
.icono-servicio{
  float:left;
  width: 100px;
  height: 100px;
  border-radius: 250px;
}
.texto-servicio{
  display: inline-block;
  padding: 15px;
  text-align: justify;
  width: 200px;
}
.texto-servicio h3{
  font-family:'Titillium Web', sans-serif;
  color: #0f0147;
}
.texto-servicio p{
font-family: 'Kite One', sans-serif;
font-size: 20px;
width: 250px;
height: 100%;
color: #1E4147;
}

/*CSS del contacto*/
.Texto-Contacto{
  margin: 50px 0 40px 0;
  width: 100%;
  background: #e5e1f9;
  display: inline-block;
  border-radius: 10px;
}
.Texto-Contacto span{
  display: inline-block;
  margin-left: 40px;
}
.Texto-Contacto h4{
  font-family: 'Kite One', sans-serif;
  color : #FF2900;
  float: left;
  padding-top:0px;
  font-size: 20px;
  text-shadow: 5px 5px 5px #999999;
}
.Texto-Contacto p{
  font-family: 'Kite One', sans-serif;
  font-size: 30px;
  float: left;
  margin-left:10px;      padding-top:7px;
  margin-right: 100px;
  text-shadow: 5px 5px 5px #999999;
}
  .Formulario-contacto{
    width: 40%;
    height: 500px;
    background-color:white;
    border-top: solid 8px #f39b53;
    display: inline-block;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 20px;
  }
  .Formulario-contacto span {
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
  text-align: center;
  text-shadow: 5px 5px 5px #999999;
  }

  .contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacto input, .boton{
    background-color: white;
    border: none;
    border-bottom: solid #C8C8C8;
  }
  .contacto input:focus{
border-bottom: solid #f39b53;
  }
  .contacto textarea{
    resize: none;
  }
  .contacto p{
    margin:30px 0 5px 0;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
  }
  .boton{
    display: flex;
    height: 50px;
    justify-content: space-around;
    margin-top:0px;
    border-bottom: none;
    background-color: #31B1E5;
    color: white;
  }
  .boton input{
    width: 140px;
  }

  .boton:hover{
    background-color: #4C9ED9;
  }

  .mapa{
    width: 55%;
    margin: 30px 15px 40px 0;
    float: right;
    }
  .mapa iframe{
      border:none;
      width: 100%;
      height: 665px;
    }


/*CSS del pie de pagina*/
#Pie-pagina{
  clear: both;
  margin-top: 30px;
  width: 100%;
  height:90px;
  border-color: #0277BD;
  background: #424242;
  border-radius: 0 0 10px 10px;
  border-top: 5px solid #01579B;
}
